<form
    id="create-company-form"
    class='create pure-form pure-form-aligned'
    enctype="application/x-www-form-urlencoded"
    data-parsley-validate
    data-parsley-ui-enabled="true"
    data-parsley-focus="first"
    hx-post="/company/create"
    hx-target="#work-area"
    hx-swap="innerHTML"
    hx-ext="parsley-validation"
    >
    <fieldset>
        <legend>All fields with '*' are required</legend>

        <div class='pure-control-group'>
            <label for='companyStatus'>Status</label>
            <select id='companyStatus' name='companyStatus'>
                <option>Active</option>
                <option>Suspended</option>
            </select>
        </div>

        <div class='pure-control-group'>
            <label for='companySlug'>Slug</label>
            <input
                type='text'
                id='companySlug'
                name='companySlug'
                size='64'
                required
                data-parsley-trigger="input"
                data-parsley-errors-container="#create-company-form-slug-errors"
                data-parsley-pattern-message="Must be: [a-z][a-z0-9]*(?:-[a-z][a-z0-9]*)*"
                data-parsley-validation-threshold="0"
                data-parsley-length="[2, 64]"
                data-parsley-pattern="^[a-z][a-z0-9]*(?:-[a-z0-9]+)*(?:-(?:dev|qa|prod|stage|[0-9]+))?$"
                />

            <span class="pure-form-message-inline">*</span>
            <span
                id="create-company-form-slug-errors"
                class="pure-form-message-inline"
                >
            </span>
        </div>

        <div class='pure-control-group'>
            <label for='companyName'>Name</label>
            <input
                type='text'
                id='companyName'
                name='companyName'
                size='64'
                required
                data-parsley-trigger="input"
                data-parsley-errors-container="#create-company-form-name-errors"
                data-parsley-pattern-message="Minimum two letters, no leading or trailing spaces"
                data-parsley-validation-threshold="0"
                data-parsley-length="[2, 64]"
                data-parsley-pattern="^[^ \t].*[^ \t]$"
                />

            <span class="pure-form-message-inline">*</span>
            <span
                id="create-company-form-name-errors"
                class="pure-form-message-inline"
                >
            </span>
        </div>

        <div class='pure-control-group'>
            <label for='companyDescription'>Description</label>
            <textarea
                    rows=10
                    cols=40
                    maxlength=2048
                    id='companyDescription'
                    name='companyDescription'
                    data-parsley-trigger="input"
                    data-parsley-errors-container="#create-company-form-description-errors"
                    data-parsley-pattern-message="Must be empty or not have leading/trailing spaces"
                    data-parsley-pattern="^(?:[^ \t](?:.*[^ \t])?)?$"
                    ></textarea>

            <span
                id="create-company-form-description-errors"
                class="pure-form-message-inline"
                >
            </span>
        </div>

        <input type="hidden" name="create" value="/api/companies"/>
    </fieldset>

    <section class="pure-button-group" role="group">
        <button class="pure-button save"
            type="submit"
            name="submit"
            >
            Save
        </button>

        <button class="pure-button"
            name="cancel"
            hx-get="/company/summary"
            hx-trigger="click"
            hx-target="#work-area"
            hx-swap="innerHTML"
            hx-ext="ignore:parsley-validation"
            >
            Cancel
        </button>
    </section>
</form>
