#*
    @(#) Company edit form Velocity template

    Body: Company (RAML API)

    Reference: https://velocity.apache.org/engine/devel/user-guide.html
*#

#set( $status = $body.get("status").asText() )

<form
    id="edit-company-form"
    class='edit pure-form pure-form-aligned'
    enctype="application/x-www-form-urlencoded"
    data-parsley-validate
    data-parsley-ui-enabled="true"
    data-parsley-focus="first"
    hx-post="/company/save"
    hx-target="#work-area"
    hx-swap="innerHTML"
    >
    <fieldset>
        <div class='pure-control-group'>
            <label for='id'>Id</label>
            <span>$body.get("id").asText()</span>
        </div>

        <div class='pure-control-group'>
            <label for='version'>Version</label>
            <span>$body.get("version").asText()</span>
        </div>

        <div class='pure-control-group'>
            <label for='created-on'>Created</label>
            <span>$body.get("createdOn").asText()</span>
        </div>

        <div class='pure-control-group'>
            <label for='last-changed'>Last Changed</label>
            <span>$body.get("lastChanged").asText()</span>
        </div>

        <hr/>

        <div class='pure-control-group'>
            <label for='status'>Status</label>
            <select id='companyStatus' name='companyStatus'>
                <option #if( $status == "Active") selected #end>Active</option>
                <option #if( $status == "Inactive") selected #end>Inactive</option>
                <option #if( $status == "Suspended") selected #end>Suspended</option>
            </select>
        </div>

        <div class='pure-control-group'>
            <label for='companySlug'>Slug</label>
            <input
                type='text'
                id='companySlug'
                name='companySlug'
                value='$body.get("slug").asText()'
                required
                data-parsley-trigger="input"
                data-parsley-errors-container="#edit-company-form-slug-errors"
                data-parsley-pattern-message="Must be: [a-z][a-z0-9]*(?:-[a-z][a-z0-9]*)*"
                data-parsley-validation-threshold="0"
                data-parsley-length="[2, 64]"
                data-parsley-pattern="^[a-z][a-z0-9]*(?:-[a-z0-9]+)*(?:-(?:dev|qa|prod|stage|[0-9]+))?$"
                />

            <span class="pure-form-message-inline">*</span>
            <span
                id="edit-company-form-slug-errors"
                class="pure-form-message-inline"
                >
            </span>
        </div>

        <div class='pure-control-group'>
            <label for='companyName'>Name</label>
            <input
                type='text'
                id='companyName'
                name='companyName'
                value='$body.get("name").asText()'
                required
                data-parsley-trigger="input"
                data-parsley-errors-container="#edit-company-form-name-errors"
                data-parsley-pattern-message="Minimum two letters, no leading or trailing spaces"
                data-parsley-validation-threshold="0"
                data-parsley-length="[2, 64]"
                data-parsley-pattern="^[^ \t].*[^ \t]$"
                />

            <span class="pure-form-message-inline">*</span>
            <span
                id="edit-company-form-name-errors"
                class="pure-form-message-inline"
                >
            </span>
        </div>

        <div class='pure-control-group'>
            <label for='companyDescription'>Description</label>
            <textarea
                rows=10
                cols=40
                maxlength=2048
                id='companyDescription'
                name='companyDescription'
                data-parsley-trigger="input"
                data-parsley-errors-container="#edit-company-form-description-errors"
                data-parsley-pattern-message="Must be empty or not have leading/trailing spaces"
                data-parsley-pattern="^(?:[^ \t](?:.*[^ \t])?)?$"
                >$body.get("description").asText()</textarea>

            <span
                id="edit-company-form-description-errors"
                class="pure-form-message-inline"
                >
            </span>
        </div>

        <input
            type='hidden'
            name='edit'
            value='$body.at("/_links/edit/href").asText()'
            />

        <input
            type='hidden'
            name='companyId'
            value='$body.at("/id").asText()'
            />

        <input
            type='hidden'
            name='companyVersion'
            value='$body.at("/version").asText()'
            />

        <input
            type='hidden'
            name='companyCreatedOn'
            value='$body.at("/createdOn").asText()'
            />

        <input
            type='hidden'
            name='companyLastChanged'
            value='$body.at("/lastChanged").asText()'
            />
    </fieldset>

    <section class="pure-button-group" role="group">
        <button class='pure-button'
            name="save"
            type='submit'
            >
            Save
        </button>

        <button class='pure-button'
            name="cancel"
            hx-get='/company/view?self=$body.at("/_links/self/href").asText()'
            hx-trigger='click'
            hx-target='body'
            hx-swap='outerHTML'
            >
            Cancel
        </button>
    </section>

    <script>
        $(function () {
            var theForm = $('#edit-company-form').parsley ();

            function validateForm (event) {
                if (event.detail.elt.name == 'cancel' || theForm.isValid ())
                    document.body.removeEventListener (
                        'htmx:beforeRequest',
                        validateForm
                        );
                else
                    {
                    theForm.validationResult = false;
                    event.preventDefault ();
                    event.stopPropagation ();
                    }
            }

            document.body.addEventListener ('htmx:beforeRequest', validateForm);
        });
    </script>
</form>

